<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tsx.mapper.OrderMapper">
    <!--自定义映射关系，定义嵌套对象的映射关系-->
    <resultMap id="orderMap" type="order">
        <!--第一层属性 order对象-->
        <!--order的主键 id标签-->
        <id column="order_id" property="orderId"/>
        <!--普通列-->
        <result column="order_name" property="orderName"/>
        <result column="customer_id" property="customerId"/>
        <!--
            深层次的对象属性赋值
            property 对象属性名
            javaType 对象类型
        -->
        <association property="customer" javaType="customer">
            <id column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
        </association>
    </resultMap>
    <select id="queryOrderById" resultMap="orderMap">
        select tor.order_id, tor.order_name, tc.customer_id as customer_id, tc.customer_name
        from t_order tor
                 join t_customer tc on tor.customer_id = tc.customer_id
        where tor.order_id = #{id};

    </select>
</mapper>