<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tsx.mapper.EmployeeMapper">
    <insert id="insertEmp">
        insert into t_emp(emp_id, emp_name, emp_salary)
        VALUES (#{empId}, #{empName}, #{empSalary})
    </insert>
    <!--    map就是接受的map的key-->
    <insert id="insertEmpMap">
        insert into t_emp(emp_name, emp_salary)
        VALUES (#{empName}, #{empSalary})
    </insert>
    <select id="queryById" resultType="cn.tsx.pojo.Employee">
        select emp_id empId, emp_salary empSalary, emp_name empName
        from t_emp
        where emp_id = #{id};
    </select>
    <select id="queryBySalary" resultType="cn.tsx.pojo.Employee">
        select emp_id empId, emp_name empName, emp_salary empSalary
        from t_emp
        where emp_salary = #{salary}
    </select>
    <select id="queryByNameAndSalary" resultType="cn.tsx.pojo.Employee">
        select emp_id empId, emp_salary empSalary, emp_name empName
        from t_emp
        where emp_name = #{name}
          and emp_salary = #{salary};
    </select>
    <delete id="deleteById">
        delete
        from t_emp
        where emp_id = #{id}
    </delete>
</mapper>